body {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  overflow: hidden;
}

input, textarea {
  -webkit-user-select: text;
  user-select: text;
}